{% extends "../template.html" %}

{% block header %}
    <h1 class="banner">Docker App</h1>
{% endblock %}

{% block content %}
<div class="panel-right">
    <form action="authenticate" method="POST" class="form-login">
        <label for="txtLogin">Login</label>
        <input type="text" id="txtLogin" name="login" value={{credentials.login}}>
        <label for="txtPassword">Senha</label>
        <input type="password" id="txtPassword" name="password" value={{credentials.password}}>
        <p class="message {{messageParam.type}}">{{messageParam.message}}</p>
        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
        
    </body>
</html>