/*Reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana,sans-serif;
}

body{
    background-color: #ef5350;
    color:#fff;
}



/*layout*/

.container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.header{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    min-height: 60px;
    margin-bottom: 20px;
    
}

.content{
    display:flex;
    flex-grow: 1;
    

}

.footer{
    display:flex;
    align-self: stretch;
    
}

.panel-right{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    padding-top:120px;
}


.form-login input,
.form-login label,
.form-login button{
    display:block;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom:10px;   
}
.form-login button{
     background-color:transparent;
     border:2px solid #555;;
     height: 48px;
     border-radius: 2px;
     color:#fff;
}
.form-login button:hover{
    background-color:transparent;
    border:2px solid #555;
    font-weight: bold;
    border:3px solid #555;
    cursor: pointer;
}

.form-login label{
    color:#fff ;
}
/* Change Autocomplete styles in Chrome*/
.form-login input:-webkit-autofill,
.form-login input:-webkit-autofill:hover, 
.form-login input:-webkit-autofill:focus
.form-login input:-webkit-autofill, 
.form-login textarea:-webkit-autofill,
.form-login textarea:-webkit-autofill:hover
.form-login textarea:-webkit-autofill:focus,
.form-login select:-webkit-autofill,
.form-login select:-webkit-autofill:hover,
.form-login select:-webkit-autofill:focus {
    background: #fff!important;
    -webkit-text-fill-color: #333;

}


.form-login{
    width:40%;
}

.banner{
    font-size: 56px;
    line-height: 1.2;
    color: #fff;
}

.new{
    text-align: right;
    border:1px solid;
}
.panel{
    width:100%;
}
.text-right{
    text-align: right;
}

table{
    width:100%;
    border:1px solid;
}



/*messages*/

.message{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom:10px;
    min-height: 25px;
}

/*links*/
 a:link,
 a:visited{
     color:#333;
 }
 .size-48{
     font-size: 48px;
 }


/*Animations*/
@keyframes app-fadeOutAnimation {

    
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:0; }
  }
  @-o-keyframes app-fadeOutAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
   
  }
  @-moz-keyframes app-fadeOutAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    
  }
  @-webkit-keyframes app-fadeOutAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    
    
   }

   .app-fadeOut {
    -webkit-animation: app-fadeOutAnimation 10s 0.5;
    -moz-animation: app-fadeOutAnimation 10s 1;
    -o-animation: app-fadeOutAnimation 10s 1;
     animation: app-fadeOutAnimation 10s 0.5;
     opacity:0;
 }