<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Docker App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
        <link rel="stylesheet" href="/resources/app/css/app.css">
    </head>
    <body>
        <div class="container">
            <header class="header">
                {% block header %}
                This is the default content
                {% endblock %}
            </header>
            
            <section class="content">
              {% block content %}
              
              {% endblock %}
            </section>
            
            <footer class="footer">
              {% block footer %}
              This is more content
              {% endblock %}
            </footer>
        </div>
    
    </body>
</html>